---
title:
---
.full-title 
	.full-title-text <span>Building a Better</span> <span class="treehouse-title">Treehouse</span>
.ideas-contain
	.pure-g-r.ideas-centered
		.pure-u-1
		.pure-u-1-3
			.idea-left
				%h1 Short Swims
				%p The web is chocked full of fascinating engines and acronyms - Middleman, Haml, Less, etc. One way to broaden the Treehouse library would be to create concise, single video introductions to the most useful and interesting of these tools. Accompanying Short Swim videos with a downloadable cheat sheet for syntax would make these an invaluable resource for students as they start to seek new and better ways to build.  
		.pure-u-1-3
			.idea-middle
				%h1 Pointed Reviews
				%p The best way to retain learned information is through consistent review. Having sets of review questions that cover all the concepts taught in a Deep Dive or Project would help students retain information they are learning, but not necessarily using in their day-to-day coding. Using Notifications, students could be alerted when it would be a good time for them to review the material they previously covered. In addition to their educational benefits, the Pointed Reviews would provide a great source of motivation to help students stay on track and committed to their Treehouse learning.
		.pure-u-1-3
			.idea-right
				%h1 Co-Coding Spaces
				%p The Treehouse forum provides fantastic feedback for stuck students, but there is nothing that beats exploring a tricky concept through coding with another person. By setting up shared workspaces, Treehouse could help students further their learning from the courses, while also helping them cultivate the collaborative skills needed to be a successful developer. If implemented in a way that facilitates the process of students finding other students with similar interests and experience levels, these Co-Coding Spaces would significantly increase long-term involvement in the Treehouse community.